<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="34000" id="com.ecarriou.systemdesignerios" version="3.4.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>System Designer</name>
    <description>
        System Designer, an IDE for designing systems.
    </description>
    <author email="erwan.carriou@mac.com" href="https://designfirst.io/systemdesigner/">System Designer</author>
    <preference name="deployment-target" value="10.3" />
    <preference name="android-minSdkVersion" value="23" />
    <feature name="CDVWKWebViewEngine">
        <param name="ios-package" value="CDVWKWebViewEngine" />
    </feature>
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
    <preference name="orientation" value="landscape" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackupWebStorage" value="local" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="FadeSplashScreenDuration" value="500" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    </platform>
    <platform name="android">
        <preference name="Fullscreen" value="false" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-wkwebview-engine" spec="^1.1.4" />
    <plugin name="cordova-plugin-inappbrowser" spec="^3.0.0" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.2" />
</widget>
